#banner {
    background-image: url('banner2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 450px;
}

#banner-title {
    background-color: rgba(0, 0, 0, 0.7);
}